<%# The file for displaying the Ticket %>

<div id="<%= dom_id ticket %>">
  <p>
    <strong>Confirmation number:</strong>
    <%= ticket.confirmation_number %>
  </p>

  <p>
    <strong>Number of Tickets:</strong>
    <%= ticket.number_of_tickets %>
  </p>

  <p>
    <strong>Price Paid:</strong>
    <%= ticket.total_price %>
  </p>

</div>
